body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    margin: 0; padding: 0;
}
* {
    box-sizing: border-box;
    border: 1px solid rgb(0, 204, 255);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    text-align: right;
    align-items: center;
    list-style: none;
}
html {
    scroll-behavior: smooth; 
}
.nav-link {
    padding: 0 15px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 18px;
}